<div id="loginDialog" ng-click="cancelBubble($event)" ng-controller="LoginDialogCtrl">
	<div class="registerText" ng-show="showRegisterTip">
		<h4 class="loginTip loginTip1">为了保证你的财产安全</h4>
		<h4 class="loginTip loginTip2">请设置个人账号和密码</h4>
	</div>
	<div class="loginText" ng-show="showSignTip">
		<h4 class="loginTip loginTip1">请输入账号和密码进行登录</h4>
	</div>
	<div class="userName"><input ng-model="userName" type="text" id="userName" placeholder="账号" required="required"  ng-trim="true" ng-blur="checkName()" /><br /><span class="nameTip inputTip" ng-hide="userNameTip">账号名已存在</span></div>
	<div class="userPSW"><input ng-model="userPassword" type="password" id="userPassword" placeholder="密码" ng-trim="true" required="required" /><br /><span class="pswTip inputTip" ng-hide="pswTip">密码长度6-12字符</span></div>
	<div class="sureBtnContainer"><a href="javascript:;" id="sureBtn" ng-click="register()">确认</a></div>
	<p class="sureTip">我们承诺绝不会泄露您的个人信息</p>
	<p class="loginSign" ng-click="changeLogin()">已有账号，赶快<span>{{showName}}</span>吧~</p>
</div>