<!DOCTYPE html>
<html>
<head id="head">
    <meta charset="UTF-8" />
    <meta name="viewport" id="chaoBaiDa" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="Description" content="爱米宝" />
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
    <script type="text/javascript" src="libs/store.min.js"></script>
    <script type="text/javascript" src="libs/md5.min.js"></script>
    <script type="text/javascript" src="libs/underscore-min.js"></script>
    <script type="text/javascript" src="libs/angular.min.js"></script> 
    <script type="text/javascript" src="javascripts/services/checklogin.js"></script>
    <script type="text/javascript" src="javascripts/services/get_cashflow.js"></script>
    <script type="text/javascript" src="javascripts/services/get_product.js"></script>
    <script type="text/javascript" src="javascripts/login/app.js"></script> 
    <script type="text/javascript" src="javascripts/login/controllers/login.js"></script>    
</head>
<body ng-app="loginApp">
	<div id="container">
		<div id="header_bg">
			<img ng-src="images/login_header.png" />
		</div>
		<div id="todayGetLimit">
			<h4>今日可领额度</h4>
			<div id="processBarContainer">
				<div id="processBar">
					<div id="currentProcess" style="width:{{currentProcess}}"></div>
				</div>
				<div id="leftPercent">{{leftPercent}}</div>
			</div>
		</div>
		<div id="getBtnContainer" ng-controller="LoginCtrl">
			<div id="getBtn" ng-click="showLoginDialog()">马上赚钱</div>
		</div>
		<ul id="getList" ng-controller="CashFlowCtrl">
			<li ng-repeat="cashFlowList in cashFlowLists">
				{{cashFlowList.showTime}} 领取了{{cashFlowList.money}}元
			</li>
		</ul>
	</div>
	<div ng-show="dialogState" id="loginContainer" ng-include src=" 'views/dialog.html' "></div>
</body>
<script type="text/javascript">
    var baseUrl = window.location.protocol + '//' + window.location.host + '/p2p/';
    function onShareComplete(res) {
    	window.location.href = baseUrl+'login.html';
    }
    window.shareData = {};
    var tcList = [
	    {
	    	tTitle:'人人有份，马上领取500元',
	    	tContent:'不送iPhone6，爱米宝送你500元理财金！关注马上送！'
	    },
	    {
	    	tTitle:'iPhone6是浮云，我送你500元',
	    	tContent:'全民抢钱，500元任领！最高可领1600元！关注后马上送你！'
	    },
	    {
	    	tTitle:'邀请你领取500元理财金',
	    	tContent:'全民抢钱，500元任领！最高可领1600元！关注后马上送你！'
	    }
    ]
    var shareContent = tcList[Math.floor(Math.random()*(tcList.length))];
    window.shareData.imgUrl = baseUrl+"images/shareimg.png";
    window.shareData.timeLineLink = 'http://mp.weixin.qq.com/s?__biz=MjM5NjUzODA0OA==&mid=200599233&idx=1&sn=f46b5d86696e7da03f95af022aac5e06#rd';
    window.shareData.tTitle = shareContent.tTitle;
    window.shareData.tContent = shareContent.tContent;
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {          
        WeixinJSBridge.on('menu:share:appmessage', function(argv) {
            WeixinJSBridge.invoke('sendAppMessage', {
                "img_url": window.shareData.imgUrl,
                "link": window.shareData.timeLineLink,
                "desc": window.shareData.tContent,
                "title": window.shareData.tTitle
            }, onShareComplete);
        });

        WeixinJSBridge.on('menu:share:timeline', function(argv) {
            WeixinJSBridge.invoke('shareTimeline', {
                "img_url": window.shareData.imgUrl,
                "img_width": "640",
                "img_height": "640",
                "link": window.shareData.timeLineLink,
                "desc": window.shareData.tContent,
                "title": window.shareData.tTitle
            }, onShareComplete);
        });
    }, false);
</script>
</html>